 body {
            background: rgb(255, 255, 255);
        margin: 0px;
        padding: 0px;
        }

 header {
    background-color:rgb(56, 56, 56);
    color: white;
    display:flex;
    justify-content: space-between;
    margin-bottom: 0px;
 }
 .bgl {
    background-image: url("images/bgl.jpg");
    background-color: black;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            margin: auto;
            width: 100%;
            height: 50%;
            z-index: -1;
 }


.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;     
    margin: 0 auto;  
    margin-top: -90;
    margin-bottom: 50px;
    border: 5px;

 }

 .yap {

max-width: 500px;
text-align:justify;
margin: 0 auto;
margin-top: 70px;
margin-bottom: 70px;
 }

 .mission {
    text-align: center;
 }

ul  {
    display:flex;
    list-style-type: none;
    gap: 15px;
    font-size: 15px;
 }

.tea::after {
content: "|";
margin-left: 15px
 }

 .name{
    text-align: center;
    font-size: 30px;
    margin: 0px;
 }

 
 .school{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
 }

 footer p { 
    background-color: black;
    color:white;
    margin: 0px;
    text-align: center;
    height: 35px;
 }

