 body {
            background: rgb(255, 255, 255);
        margin: 0px;
        padding: 0px;
        }

 header {
    background-color:rgb(56, 56, 56);
    color: white;
    display:flex;
    justify-content: space-between;
    margin-bottom: 0px;
 }

.image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;      
    margin:50px;

 }

ul  {
    display:flex;
    list-style-type: none;
    gap: 15px;
    font-size: 15px;
 }

.tea::after {
content: "|";
margin-left: 15px
 }

 .name{
    text-align: center;
    font-size: 30px;
    margin: 0px;
 }

 .school{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
 }

 footer p { 
    background-color: black;
    color:white;
    margin: 0px;
    text-align: center;
    height: 35px;
 }

.hurah {
    display: flex;
}

.alp{
   margin-top: 50px;
}
div p{
    margin-bottom: 20px;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}